#{% if cdh == 5 %}
#deb [arch=amd64] http://YOUR_MIRRORS_ADDRESS/cm5/ubuntu/precise/amd64/cm/ precise-cm5.0.2 contrib
#{% else %}
#deb [arch=amd64] http://YOUR_MIRRORS_ADDRESS/cm4/ubuntu/precise/amd64/cm/ precise-cm4.8.0 contrib
#{% endif %}
